server:
  port: 8080
  compression:
    enabled: true
    excluded-user-agents:
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 2048

spring:
  datasource:
    primary:
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomainpdb.localdomain
      username: NguoiDung
      password: nguoidung
      driver-class-name: oracle.jdbc.OracleDriver
    xacthuc:
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: XacThuc
      password: xacthuc
      driver-class-name: oracle.jdbc.OracleDriver
    xacthuc1:
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: XacThucQuan1
      password: xacthuc
      driver-class-name: oracle.jdbc.OracleDriver
    xacthuc2: 
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: XacThucQuan2
      password: xacthuc
      driver-class-name: oracle.jdbc.OracleDriver
    xacthuc3: 
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: XacThucQuan3
      password: xacthuc
      driver-class-name: oracle.jdbc.OracleDriver
    xetduyet:
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: XetDuyet
      password: xetduyet
      driver-class-name: oracle.jdbc.OracleDriver
    luutru:
      url: jdbc:oracle:thin:@//192.168.0.103:1521/orclpdb.localdomain
      username: LuuTru
      password: luutru
      driver-class-name: oracle.jdbc.OracleDriver
#    giam_sat:
#      url: jdbc:oracle:thin:@//localhost:1521/orclpdb.localdomainPDB.LOCALDOMAIN
#      username: GiamSat
#      pass: giamsat
#      driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      maximum-pool-size: 50
      connection-timeout: 30000
  jpa:
    properties:
      javax:
        persistence:
          query:
            timeout: 120000
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: none
        temp:
          use_jdbc_metadata_defaults: false
    jpa:
      repositories:
        enabled: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

