server:
  port: 8080
  compression:
    enabled: true
    excluded-user-agents:
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 2048

spring:
  datasource:
    primary:
      url: jdbc:oracle:thin:@//localhost:1521/ORCLPDB
      username: NguoiDung
      password: nguoidung
      driver-class-name: oracle.jdbc.OracleDriver
    xacthuc:
      url: jdbc:oracle:thin:@//localhost:1521/ORCLPDB
      username: XacThuc
      password: xacthuc
      driver-class-name: oracle.jdbc.OracleDriver
    xetduyet:
      url: jdbc:oracle:thin:@//localhost:1521/ORCLPDB
      username: XetDuyet
      pass: xetduyet
      driver-class-name: oracle.jdbc.OracleDriver
    luutru:
      url: jdbc:oracle:thin:@//localhost:1521/ORCLPDB
      username: LuuTru
      pass: luutru
      driver-class-name: oracle.jdbc.OracleDriver
#    giam_sat:
#      url: jdbc:oracle:thin:@//localhost:1521/ORCLPDB.LOCALDOMAIN
#      username: GiamSat
#      pass: giamsat
#      driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      maximum-pool-size: 50
      connection-timeout: 30000
  jpa:
    properties:
      javax:
        persistence:
          query:
            timeout: 120000
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
        ddl-auto: none
        temp:
          use_jdbc_metadata_defaults: false
    jpa:
      repositories:
        enabled: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

